@tailwind base;
@tailwind components;
@tailwind utilities;

  .input-card {
    @apply flex flex-col items-center justify-center bg-[white] px-5 py-2.5 rounded-[10px];
  }
  .input-card .form-group {
    @apply mb-2.5;
  }
  input {
    @apply w-[80vw] max-w-[400px] text-[1.5em] rounded-[10px] border-[silver] border-solid border-[2px] focus:pb-[5px] outline-none bg-none;
    transition: padding 0.3s 0.2s ease;
  }
  input:focus + .line:after {
    @apply scale-x-100;
  }