
  .input-card{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .input-card{
      border-radius: 10px;
      padding: 10px 20px;
      background-color: white;
  }

  .input-card .form-group{
    margin-bottom: 10px;
  }

  input {
    border: silver solid 2px;
    border-radius: 10px;
    background: 0;
    outline: none;
    width: 80vw;
    max-width: 400px;
    font-size: 1.5em;
    transition: padding 0.3s 0.2s ease;

    &:focus {
      padding-bottom: 5px;
    }

    &:focus + .line {
      &:after {
        transform: scaleX(1);
      }
    }
  }