.table-container {
  @apply bg-[white] px-5 py-2.5 rounded-[10px] bg-[white] m-5 px-5 py-2.5;
}
.table-container table {
  @apply text-[color:var(--text-main)] w-full;
}

/* tabelStyle.css */
.table-container {
  /* Add margin for the entire table container */
}
.custom-table {
  @apply w-full bg-white rounded-[10px] border-collapse;
  font-family: Arial, sans-serif;
}
.custom-table th {
  @apply text-[color:var(--text-main)] text-left p-5 border-b-2 border-b-[#ddd] border-solid;
}
.custom-table td {
  @apply p-[15px] border-b-2 border-b-[#ddd] border-solid;
}
.custom-table td .wrapper {
  @apply flex items-center justify-between;
}
.custom-table img {
  @apply h-5 w-5;
}
.table-row {
  @apply mb-[50px];

  /* Add margin between <tr> elements */
}