@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-container {
    @apply flex justify-between items-center mb-[20px];
  }
  .header-title {
    @apply text-[35px] font-[500];
  }
  .header-title {
    @apply text-[35px] font-medium text-[color:var(--text-main)];
  }
  .button-wrapper img {
    @apply w-5 h-5;
  }
  .button-wrapper div {
    @apply flex justify-center items-center gap-[5px] bg-[color:var(--secondary)] text-[white] font-medium px-[15px] py-2.5 rounded-lg;
  }
}